//XL Screens or Wide Screens
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cedarville+Cursive&family=Dancing+Script:wght@700&family=Parisienne&family=Quicksand:wght@700&family=Yellowtail&display=swap');
@include mediaXl {
	.projects {
		grid-template-columns: repeat(4, 1fr);
	}
	.text-secondary {
		text-align: center;
		color: skyblue;
	}
	.about-me {
		margin-top: 40px;
		font-size: 20px;
		font-family: 'Dancing Script';
		word-spacing: 2px;
		letter-spacing: 1px;
		background: -webkit-linear-gradient(rgb(9, 235, 243), rgb(219, 243, 0));
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.about-me-links {
		font-size: 18px;
		text-indent: 0px;
		line-height: 20px;
		padding: 4px;
		font-family: 'Dancing Script', cursive;
		word-spacing: 1px;
		letter-spacing: 1px;
		align-self: center;
		font-size: 1.4rem;
		.nav-link1 {
			float: right;
		}
		.nav-link2 {
			float: left;
		}
	}
}

//Desktops and Laptops
@include mediaLg {
	.text-secondary {
		text-align: center;
	}
	.about-info {
		grid-template-areas:
			'bioimage'
			'bio'
			'job1'
			'job2'
			'job3';
		grid-template-columns: 1fr;
	}
	.about-me {
		font-size: 18px;
		text-indent: 0px;
		line-height: 20px;
		padding: 4px;
		font-family: 'Dancing Script', cursive;
		word-spacing: 1px;
		letter-spacing: 1px;

		background: -webkit-linear-gradient(rgb(243, 181, 9), rgb(16, 174, 247));
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		&:hover {
			font-size: 1.4rem;
		}
	}
	.about-me-links {
		font-size: 18px;
		text-indent: 0px;
		line-height: 20px;
		padding: 4px;
		font-family: 'Dancing Script', cursive;
		word-spacing: 1px;
		letter-spacing: 1px;
		.nav-link1 {
			float: left;
			font-size: 1rem;
		}
		.nav-link2 {
			float: right;
			font-size: 1rem;
		}
	}
}
//Tablets
@include mediaMd {
	main {
		align-items: center;
		text-align: center;
		.lg-heading {
			line-height: 1;
			margin-bottom: 1rem;
		}
	}
	ul.menu-nav,
	div.menu-branding {
		float: none;
		width: 100%;
		min-height: 0;
		&.show {
			transform: translate3d(0, 0, 0);
		}
	}
	.menu-nav {
		height: 75vh;
		transform: translate3d(-100%, 0, 0);
		font-size: 24px;
	}
	.menu-branding {
		height: 25vh;
		transform: translate3d(100%, 0, 0);
		.portrait {
			background: url('../img/small.jpg');
			width: 150px;
			height: 150px;
		}
	}
	.about-info {
		grid-template-areas:
			'bioimage'
			'bio'
			'job1'
			'job2'
			'job3';
		grid-template-columns: 1fr;
		.about-me {
			letter-spacing: 2.5px;
			font-size: 13px;
			font-family: 'Quicksand', sans-serif;
			word-spacing: 1px;
			display: flex;
			flex-flow: column wrap;

			background: -webkit-linear-gradient(rgb(179, 202, 77), rgb(8, 197, 255));
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.about-me-links {
			text-indent: 0px;
			line-height: 20px;
			padding: 4px;
			font-family: 'Dancing Script', cursive;
			word-spacing: 1px;
			letter-spacing: 1px;
			.nav-link1 {
				font-size: 1rem;
				float: left;
				color: $secondary-color;
			}
			.nav-link2 {
				font-size: 1rem;
				float: right;
				color: $secondary-color;
			}
		}
	}
}

//Smart Phones
@include mediaSm {
	main#home h1 {
		margin-top: 10vh;
	}
}

/*font-family: 'Acme', sans-serif;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Yellowtail', cursive;*/
